<nav class="container identity-nav d-flex align-items-center">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img src="~/images/logo.png"
                     height="15"
                     alt=""
                     loading="lazy" class="logo" />
            </a>
        </li>
    </ul>
</nav>